<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
</head>
<body>

<h2>Total Amount: ₹{{total}}</h2>

<button id="pay-btn">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<button id="pay-btn">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "rzp_test_Sd1rntkzstOsGE",
    "amount": "{{order.amount}}",
    "currency": "INR",
    "name": "Cafe Shop",
    "description": "Order Payment",
    "order_id": "{{order.id}}",
    "handler": function (response){
        window.location.href = "/success";
    }
};

var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>

</body>
</html>